.logo-container {
  display: flex;
  justify-content: center;  /* Horizontally center */
  align-items: center;      /* Vertically center */
  height: 25vh;            /* Full viewport height to center vertically */
}
.logo {
  width: 200px;  /* Adjust the size as needed */
  height: auto;
}

body {
    font-size: 23px;
  }
  ul {
    list-style-type: none;
    margin: 5;
    padding: 5;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #f984d8;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(251, 246, 246);
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    width: 10em;
  }
  
  li a:hover:not(.active) {
    background-color: #a72f3d;
  }
  
  .active {
    background-color: #ca1cad;
  }
